body{
    margin: 10px auto 0px;
    max-width: 1240px;
    
}

.h1{
    font-size: 3rem;
}

.headerAfisha{
    display: flex;
    justify-content: space-between;
}

.headerAfishaBtn{
    display: flex;
    gap: 1rem;
}

.afishaBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
}

.afishaBtn:hover{
  color: rgb(78, 74, 74);
}

.options{
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
}